h1{
    color:#4b2e83;
    background:#d6b8ed ;
    margin: 0;
    padding: 10px;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 30px;
    line-height: 150%;
    text-align: center;

}

header{
    padding:0;
    margin: 0;
}
body{
    background-image: url(assets/bg.jpg);
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 150%;
}

.container{
    width: 972px;
    margin: 0 auto;
    background: #edddfa;
    padding: 20px;
}
h2{
    color:deeppink;
}

a{
    color:#570246;
}

a:hover{
    color:#ff2ed5;
}


.site-header{
    color: rgb(255, 255, 255);
    background:#9d39cf;
    padding: 15px;

}
.sitenav{
    color: rgb(255, 255, 255);
    background:#9d39cf;
    text-align: right;    
}
.sitenav a{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    
}
.sitenav a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    padding: 10px;

    
}
.pagenav{
    color:#570246;
    padding: 10px;
    text-align: center;
}
.pagenav a{
    color:#570246;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}
.pagenav a:hover{
    color:#ff2ed5;
    padding: 5px;

}
th, td {
  padding: 10px;
}
table, th, td {
  border: 1px solid;
}
th{
    background: #9d39cf;
}


/*gallery*/
.gallery-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px ;
    justify-items: center;
    align-items: start;
    justify-content: space-between;

}

.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

.gallery-item:hover {
  border: 1px solid #ff4ad2;
  transform: scale(1.03);

  
}

.gallery-item  {
    width: 300px; /*should match the width of your images + width of border (if any) */
    text-align: center;
    height: auto;
    transition: 0.4s ease-in-out;


}
.gallery-item p {
    margin: .25em 0;
    line-height: 135%;
}




table i{
    color:rgb(0, 0, 0);
    size: 20px;
    align-items: center;
}

table i.fa-hand-holding-heart{
    color: rgb(255, 0, 0);
}
table i.fa-trash{
    color: rgba(236, 167, 6, 0.733);
}
table i.fa-recycle{
    color: rgb(74, 198, 7);
}