h1{
    color:#4b2e83;
    background:#d6b8ed ;
    margin: 0;
    padding: 10px;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 30px;
    line-height: 150%;
    text-align: center;

}

header{
    padding:0;
    margin: 0;
}
body{
    background-image: url(assets/bg.jpg);
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 150%;
}

.container{
    width: 972px;
    margin: 0 auto;
    background: #edddfa;
    padding: 20px;
}
h2{
    color:deeppink;
}

a{
    color:#570246;
}

a:hover{
    color:#ff2ed5;
}

.sitenav{
    color: rgb(255, 255, 255);
    background:#9d39cf;
    padding: 15px;
    
}
.sitenav a{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    
}
.sitenav a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    padding: 10px;

    
}
.pagenav{
    color:#570246;
    padding: 10px;
    text-align: center;
}
.pagenav a{
    color:#570246;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}
.pagenav a:hover{
    color:#ff2ed5;
    padding: 5px;

}
th, td {
  padding: 10px;
}
table, th, td {
  border: 1px solid;
}
th{
    background: #9d39cf;
}


/*gallery*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

.gallery-item:hover {
  border: 1px solid #ff4ad2;
  transform: scale(1.05);

  
}

.gallery-item  {
  width: 25%;
  height: auto;
  transition: 0.4s ease-in-out;


}

