h1{
    color:#4b2e83;
    background:#d6b8ed ;
    margin: 0;
    padding: 0;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 20px;
    line-height: 150%;


}

body{
    background: #d6b8ed;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 150%;
}

.container{
    width: 972px;
    margin: 0 auto;
    background: #edddfa;
    padding: 20px;
}
